html {

}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rebeccapurple;
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    
}

.container{
    margin-left: auto;
    margin-right: auto;
    width:auto;
}

header {

    height: 150px;
    text-align: center;
    padding-top:30px;
  
}
main {
    padding-left: 60px;
    height: auto;
    width: auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}


footer {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.171);
  padding: 1px 0px 1px 0px;
  text-align: center;
  width: auto;
  


}
footer p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;

}
h2 {
    font-size:84px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}
h1
{
    font-size:50px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
p{
    font-size:18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}
.link {
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
}
.logo {
    display: flex;
    
    max-width: 100px;
    width: 100%;
    margin-left:100px;

}

#logo_pan img
{
    margin-left: 50px;
   
}
.logo img 
{
    size: 50%;
    width: 100%;
    height: auto;
}
marquee
{
  
    padding: 12px 0px 3px 0px;
    background-color:  rgba(0, 0, 0, 0.171);
    color: wheat;
    height: auto;

}

.marquee
{
  
    height: auto;
    margin-bottom: 20px;
    display: flex;
  
}

#label1
{
    margin-left: 40px;
    color:wheat;
    font-weight: bold;
    padding: 3px 0px 3px 0px;
    width: auto;
    height: auto;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: hidden;
    background-color: transparent;
    margin-left: 50px;
  }
  
  li
  {
    
      float: left ;
      display: inline;
      margin-right: 20px;
  }
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, li a:focus .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color:grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-content a:hover
   {
    border-left-style:solid ;
    border-left-color: red;
    background-color: #d27f7f;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .contact:hover .dropdown-content
  {
    display :block;
  }
  .dot {
    height:10px;
    width: 10px;
    background-color: wheat;
    border-radius: 50%;
    display: inline-block;
  }
  * {box-sizing: border-box;}

  input[type=text], select, textarea {
    width: 75%;
    display: block;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 0px;
    resize: vertical;
    background-color: rgba(0, 0, 0, 0.4);
    color:wheat;

  }
  
  
  #subject
  {
    height: 50px;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    margin-left: 125px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #country
  {
    color: wheat;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container1 {
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    align-items: center;
    width: 700px;
    margin-left: 20%;
  }
  label
  {
    color: wheat;
    width: 250px;
    margin-left: auto;
    margin-right: 50px;
  }
  #contact
  {
    color:rgb(253, 244, 166);
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 40px;
    
  }
  #form1
  {
    margin-left: 25%;
    align-items: center;
    width: auto;

  }
  #para1
  { 
      margin-top: 0px;
      text-align: center;
      width: 70%;
      margin-left: 24.2%;
      font-size: 15px;
      font-style: italic;
  }
  