html {

}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rebeccapurple;
    background-image: url(images/burger_bg.jpg);
    background-size: cover;
    width: auto;
    height: auto;
    
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

header {

    height: 150px;
    text-align: center;
    padding-top:30px;

}
main {
    padding-left: 60px;
    height: auto;
    
}
body {
  font-family: Arial, Helvetica, sans-serif;
}


footer {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.171);
  padding: 1px 0px 1px 0px;
  text-align: center;
  width: auto;
  


}
footer p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;

}
h2 {
    margin-left: 32%;
    padding-left: 30px;
    width: 480px;
    font-size:84px;
    color: rgba(240, 225, 142, 0.726);
    font-family: Arial, Helvetica, sans-serif;
    border-radius:15px;
    background-color: rgba(173, 160, 170, 0.3);
}
h1
{
    font-size:50px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
p{
    font-size:18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}
.link {
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
}
.logo {
  display: flex;
  
  max-width: 100px;
  width: 100%;
  margin-left:100px;

}

#logo_pan img
{
  margin-left: 50px;
 
}
.logo img 
{
  size: 50%;
  width: 100%;
  height: auto;
}
.row {
    
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 10px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
    margin-left: 5%;
    
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  div.desc {
     
    padding: 15px;
    text-align: center;
    color:wheat;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    height: auto;
    text-decoration: solid;
    font-weight: bold;
    

  }
  .dot {
    height:10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: hidden;
    background-color: transparent;
    margin-left: 50px;
  }
  
  li
  {
    
    float: left ;
      display: inline;
      margin-right: 20px;
  }
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color:grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-content a:hover
   {
    border-left-style:solid ;
    border-left-color: red;
    background-color: #d27f7f;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .contact:hover .dropdown-content
  {
    display :block;
  }